.profile {
  margin: 20px auto 0 auto;
}

/* Make subheading smaller */
.profile h2 {
  font-size: 15px;
  font-style: italic;
}

/* ARCHIVE */

#archive {
  max-width: 680px; /* was 580px */
}

@media screen and (max-width: 600px) {
  #archive .group .value .tags {
    display: none;
  }
}

/* SINGLE */

#single .title {
  font-size: 30px; /* was 32 */
  font-weight: 450; /* was 400 */
  line-height: 40px; /* was 48 */
}

#single .geo-tip {
  margin-top: 10px;
}

#single .geo-tags a {
  background: #f2f2f2;
  padding: 4px 7px;
  color: #8c8c8c;
  margin-right: 3px;
}

#single .geo-tags a::before {
  content: "📍";
}

#single .geo-tags a:hover {
  color: #0366d6;
}

/* LIST PAGE */

#list-page .title {
  font-size: 18px; /* was 20 */
  font-weight: 450; /* was 400 */
}

/* OTHER */

/* Custom "medium pic" class for styling images in posts */
.pic-m {
  /* max-width: 400px; */
  max-width: 80%;
}
.pic-m img {
  width: 100%;
}

#archive .group .value .tags a {
  font-size: 12px;
}
