@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

body h1 {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
}

#single a:hover {
  background-color: #f2f2f2;
}

#section a:hover {
  background-color: #f2f2f2;
}

/* --------------- */
/* PROFILE PARTIAL */

.profile {
  margin: 10px auto 0 auto;
}

.profile h1 {
  font-size: 30px;
  font-weight: 700;
}

#profile-header:hover {
  h1 {
    text-transform: uppercase;
    color: #4b764a;
  }
}

/* Make subheading smaller */
.profile h2 {
  font-size: 15px;
  font-style: italic;
}

/* ------------ */
/* ARCHIVE PAGE */

#archive .group .value {
  display: flex;
  flex-flow: row;
  justify-content: start;

  font-size: 16px;
  margin-bottom: 12px;

  /* transition: font-size 0.8s; */
}

/* #archive .group .value:hover {
  font-size: 17px;
} */

#archive {
  max-width: 680px; /* was 580px */
}

@media screen and (max-width: 600px) {
  #archive .group .value .tags {
    display: none;
    /* font-size: 10px; */
  }
}

#archive .group .value .tags a {
  font-size: 12px;
}

/* ----------- */
/* SINGLE PAGE */

#single .title {
  font-size: 30px; /* was 32 */
  font-weight: 450; /* was 400 */
  line-height: 40px; /* was 48 */
}

/* #single .geo-tip {
  margin-top: 10px;
} */

#single .geo-tags a {
  border-radius: 10px;
  display: inline-block;
  margin-top: 10px;
  background: #f2f2f2;
  padding: 4px 7px;
  color: #8c8c8c;
  margin-right: 3px;
  font-size: 0.9em;
}

#single .geo-tags a::before {
  content: '📍';
}

#single .geo-tags a:hover {
  color: #0366d6;
}

#single .tags a {
  border-radius: 10px;
}

/* --------- */
/* TAGS PAGE */

#tags .geo-tags a {
  background: #f2f2f2;
  padding: 4px 7px;
  color: #8c8c8c;
  margin-right: 3px;
}

#tags .geo-tags a::before {
  content: '📍';
}

#tags .geo-tags a:hover {
  color: #0366d6;
}

#tags .tag a {
  border-radius: 10px;
}

/* --------- */
/* LIST PAGE */

.title-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  column-gap: 30px;
}

#list-page .title {
  width: auto;
  font-size: 18px; /* was 20 */
  font-weight: 450; /* was 400 */
  /* transition: font-size 1s; */
}

/* #list-page .title:hover {
  font-size: 20px;
} */

#list-page .date {
  width: auto;
  float: none;
}

/* ------ */
/* IMAGES */

.markdown-image img {
  max-width: 80%; /* was 100% */
  max-height: 400px;

  /* center it */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 600px) {
  .markdown-image img {
    max-width: 90%;
  }
}

.about-pic img {
  border-radius: 50%;
  width: 300px;
  /* center it */
  display: block;
  margin-left: auto;
  margin-right: auto;

  filter: drop-shadow(10px 5px 4px #9a9aa5);
}

.about-pic img:hover {
  filter: drop-shadow(20px 10px 8px #9a9aa5);
}

/* Custom "medium pic" class to use with figure shortcode */
.pic-m {
  max-width: 80%;
}
.pic-m img {
  width: 100%;
}

/* HOME BUTTON */

.home-button {
  border: #5badf0 solid 1px;
}

.home-button:hover {
  background-color: #f2f2f2;
}

/* TABLE */

.table-container {
  overflow-x: auto;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  font-size: 0.75em;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

table tr:hover {
  background-color: lightyellow !important;
}

/* KBD */
kbd {
  margin: 0px 0.1em;
  padding: 0.1em 0.6em;
  border-radius: 3px;
  border: 1px solid rgb(204, 204, 204);
  color: rgb(51, 51, 51);
  line-height: 1.4;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  display: inline-block;
  box-shadow:
    0px 1px 0px rgba(0, 0, 0, 0.2),
    inset 0px 0px 0px 2px #ffffff;
  background-color: rgb(247, 247, 247);
  -moz-box-shadow:
    0 1px 0px rgba(0, 0, 0, 0.2),
    0 0 0 2px #ffffff inset;
  -webkit-box-shadow:
    0 1px 0px rgba(0, 0, 0, 0.2),
    0 0 0 2px #ffffff inset;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  text-shadow: 0 1px 0 #fff;
}
