.profile {
  margin: 20px auto 0 auto;
}

/* Make subheading smaller */
.profile h2 {
  font-size: 15px;
  font-style: italic;
}

/* Custom "medium pic" class for styling images in posts */
.pic-m {
  max-width: 400px;
}
.pic-m img {
  width: 100%;
}

#archive .group .value .tags a {
  font-size: 12px;
}
