<header class="profile">
  <div style="display: flex; justify-content: center;">
    <div id="profile-header" style="display: inline-block;">
      {{ partial "rive.html" . }}
      <h1>
        {{ .Site.Title }}
      </h1>
    </div>
  </div>

  {{ with .Site.Params.Bio }}
    <h2>{{ . | markdownify }}</h2>
  {{ end }}


  <hr />
</header>

<script>
  const isMobileDevice = /Mobi/i.test(window.navigator.userAgent)

  // handle click on profile header
  if (isMobileDevice) {
    console.log('Mobile device detected')
  } else {
    document
      .getElementById('profile-header')
      .addEventListener('click', function () {
        window.location.href = window.location.origin
      })
  }
</script>
